*{
    padding: 0;
    margin: 0;

}
html,body{
    display: grid;
    height: 100%; 
    place-items: center;
    background: white;
}
.wrapper{
   width: 380px;  
   background-color: white ;
   border-radius: 15px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
} 
.wrapper .title{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    line-height: 100px;
    text-align: center;
    font-weight: 570;
    font-size: 30px;
    border-radius: 25px 25px 0  0;
}
.wrapper form{
    padding: 20px 30px 50px;
}
.wrapper form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.wrapper form .field input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 17px;
    outline: none;
    border: 1px solid lightgrey;
    font-family: 'Festive', cursive;
font-family: 'Qahiri', sans-serif;
font-family: 'Zen Tokyo Zoo', cursive;
}
.wrapper form .field label{
    font-family: 'Qahiri', sans-serif;
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 27px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.5s ease;
      
}
.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label{
    top: 0;
    transform: translateY(-50%);
    color: tomato;
    background: white;
}
.pas-link{
    margin: 10px 0 0 10px;
}
.pas-link a{
    text-decoration: none;
    color: red;
}
.wrapper form .field input[type="submit"]{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.5s ease;
    cursor: pointer;
    border: none;
}
.wrapper form .field input[type="submit"]:active{
   transform: scale(0.95);
}
